.productResults {
    display: block;
    width: 100%;
    padding: 0 ;
    margin: 2rem 0;

    .products {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2rem;
    }

    .productCategory {
        width: 15rem;
    }
}

.product {
    width: calc(25% - 6rem);
    margin: 2rem 3rem;
    padding: 1rem 1rem;
    background: rgba(211, 211, 211, 0.25);
    border-radius: 13px;

    &:hover {
        border: 1px solid grey;
    }

    .thumb {
        display: block;
        width: 100%;

        img, div.imgslider {
            display: block;
            width: 100%;
            margin: 0;
            border-radius: 13px;
            box-shadow: 2px 2px 5px grey;
            transition: all 0.1s ease-in;
        }
        div.imgslider {
            &:hover {
                box-shadow: 2px 4px 8px grey;
                // transform: translate(0, -8px);
            }
        }
    }

    .details {
        display: block;
        width: 100%;
        padding: 1rem;
        margin: 0 auto;

        ul, ul li {
            padding: 0;
            margin: 0;
        }

        ul {
            li {
                display: block;
                width: 100%;
                list-style-type: none;
                text-align: left;
                margin: 0 0 .5rem;

                a {
                    color: black;
                }

                .name {
                    font-size: 1.8rem;
                    line-height: 1.2;
                    font-weight: 400;
                }

                .price {
                    font-size: 1.6rem;
                    line-height: 1;
                    font-weight: 400;   
                }

                .addToCart {
                    margin: 1rem 0 0;
                }
            }
        }
    }

}

@media only screen and (max-width: 800px) {
    .product {
        width: calc(50% - 4rem);
        margin: 1rem 2rem;
    }
    
}