.checkout {
    margin: 2rem auto;

    h1 {
        display: block;
        width: 100%;
    }

    h1, p {
        text-align: center;
    }

    // .checkoutHeader {
    //     border-bottom: 1px solid black;
    // }

    
    .cart {
        width: 100%;
        text-align: left;
    }

    .cartItem {
        td img {
            display: block;
            width: 100%;
        }
    }

    .cartBtns {
        display: block;
        width: 100%;
        float: left;
    }

    .cartBtn {
        cursor: pointer;
        padding: 1rem;
    }

}