.formRow {

    input {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        text-align: left;
        padding: 1rem .5rem;
        margin: 1rem auto;
        border: 1px solid #9e9e9e;
        outline: none;
    }
}